<nav style=" background-color: rgba(122, 137, 112, 0.66);" >
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Angular Challenge</a>
      <ul class="left hide-on-med-and-down">
        <li><a routerLink="/CharacterSectionComponent" routerLinkActive="active">Character section </a></li>
        <li><a routerLink="/StudentSectionComponent">Students section</a></li>
        <li><a routerLink="/TeacherSectionComponent">Teachers section</a></li>
      </ul>
    </div>
  </nav>