<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <h5 class="center-align">List of Teacher</h5>
                <div class="input-filed col s2 offset-m9">
                    <input type="text" name="filterPost" [(ngModel)]="filterPost" placeholder="Search">
                </div>
                <table class="striped centered responsive-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Patronus</th>
                            <th>Age</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data | filter:filterPost">
                            <td>{{item.name }}</td>
                            <td>
                                <div *ngIf="item.patronus==''; else elseBlock">----</div>
                                <ng-template #elseBlock>{{item.patronus}}</ng-template>
                            </td>
                            <td>
                                <div *ngIf="item.yearOfBirth==''; else yearOfBirth">----</div>
                                <ng-template #yearOfBirth>{{year - item.yearOfBirth }}</ng-template>
                            </td>
                            <td><img src="{{item.image}}" alt="" width="100px" height="100px">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>